# -*- coding: utf-8 -*-
# Template: Odoo Model Wrapper for ADK Agent
# Variables: {{MODEL_CLASS}}, {{MODEL_NAME}}, {{AGENT_CLASS}}, {{AGENT_NAME}}

from odoo import models, fields, api
from .agents.{{AGENT_NAME}}.agent import {{AGENT_CLASS}}

class {{MODEL_CLASS}}(models.Model):
    _name = '{{MODEL_NAME}}'
    _description = '{{MODULE_TITLE}} Wrapper'
    
    name = fields.Char('Tên Agent', default='{{MODULE_TITLE}}')
    
    def query(self, message):
        """
        Entry point để giao tiếp với Agent từ Odoo
        """
        agent = {{AGENT_CLASS}}(self.env)
        return agent.query(message)
