/** @odoo-module **/
/** Template: OWL Component JS **/

import { Component, useState } from "@odoo/owl";
import { registry } from "@web/core/registry";
import { useService } from "@web/core/utils/hooks";

export class {{COMPONENT_NAME}} extends Component {
    static template = "{{MODULE_NAME}}.{{COMPONENT_NAME}}";
    setup() {
        this.orm = useService("orm");
        this.state = useState({
            records: [],
        });
    }

    async loadData() {
        this.state.records = await this.orm.searchRead("{{MODEL_NAME}}", [], ["name"]);
    }
}

registry.category("actions").add("{{MODULE_NAME}}.{{COMPONENT_NAME}}", {{COMPONENT_NAME}});
